{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignite Engineering</title>
    <link rel="icon" type="image/png" href="{% static 'images/ieee_icon.ico' %}">
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{% static 'gallery/form.css' %}">
    <link rel="stylesheet" href="{% static 'gallery/main.css' %}">
    <link rel="stylesheet" href="{% static 'gallery/home.css' %}">
    <link rel="stylesheet" href="{% static 'gallery/project_display.css' %}">
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <div class="nav-container">
            <div class="logo-container">
                <div class="logo">
                    <!-- Add the logo link class to the anchor tag around the image -->
                    <a href="/" class="logo-link">
                        <img src="{% static 'images/utah_state_logo.png' %}" alt="Utah State Engineering Logo" width="100" height="75" />
                    </a>
                </div>
                <div class="logo">
                    <!-- Add the logo link class to the anchor tag around the image -->
                    <a href="/" class="logo-link">
                        <img src="{% static 'images/ignite_logo2.png' %}" alt="Ignite Engineering Logo" width="150" height="75" />
                    </a>
                </div>
            </div>
            <ul class="nav-links">
                <li class="nav-li"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                <li class="nav-li"><a href="{% url 'projects' project_category='class'%}" class="nav-link">Class</a></li>
                <li class="nav-li"><a href="{% url 'projects' project_category='research'%}" class="nav-link">Research</a></li>
                <li class="nav-li"><a href="{% url 'projects' project_category='club'%}" class="nav-link">Club</a></li>
                <li class="nav-li"><a href="{% url 'projects' project_category='fun'%}" class="nav-link">Fun</a></li>
                <li class="nav-li"><a href="{% url 'submit_project' %}" class="project-nav-link">+ Add Project</a></li>
            </ul>
        </div>
    </nav>

    <!-- Content block that will be overridden by child templates -->
    {% block content %}{% endblock %}

    <!-- Add common scripts or footer content here -->

    <!-- Footer section -->
    <footer class="footer">
    <div class="footer-logos">
        <div class="logo-grid">
            <img src="{% static 'images/ieee_logo.png' %}" alt="Logo 1" class="logo">
            <img src="{% static 'images/college_engineering_logo.png' %}" alt="Logo 2" class="logo">
            {% comment %} <img src="{% static 'images/space_dynamics_logo.png' %}" alt="Logo 3" class="logo">
            <img src="{% static 'images/hack_logo.jpg' %}" alt="Logo 3" class="logo"> {% endcomment %}
            <!-- Add more logo images as needed -->
        </div>
    </div>
    </footer>

</body>
</html>
